.login-form {
  min-width: 250px;
  width: calc(100% - 120px);
  max-width: 350px;
  padding: 20px 25px;
  margin: auto 30px;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 4px 4px 9px rgba(0, 225, 255, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.input-field {
  width: 99%;
  padding: 10px 14px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s;

}

.input-field:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px #007bffaa;
}

.error-message {
  color: #a50b009d;
  font-size: 0.85rem;
  margin-top: 4px;
  min-width: fit-content;
  max-width: 100%;
}


.btn {
  display: block;
  width: 100%;
  padding: 12px 0;
  margin-top: 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #1385ffd3;
  color: white;
}

.primary-btn:disabled {
  background-color: #7aa7e9;
  cursor: not-allowed;
}
.primary-btn:hover {
  background-color: #2d81ff;
  cursor: not-allowed;
}


.google-btn {
  background-color: #dd4c39c9;
  color: white;
  margin-top: 10px;
}

.google-btn:hover {
  background-color: #c23321;
}

.link {
  display: inline-block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .login-form {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .login-form {
    min-width: unset;
    width: 95vw;
    max-width: 98vw;
    margin: 10px auto;
    padding: 10px 5px;
    box-shadow: 2px 2px 6px rgba(0, 225, 255, 0.2);
  }
  .input-field {
    font-size: 0.98rem;
    padding: 8px 10px;
  }
  .btn {
    font-size: 1rem;
    padding: 10px 0;
  }
}
