<div class="dashboard">
  <div class="menu">
    <label class="burger" for="burger">
      <input type="checkbox" id="burger" [(ngModel)]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <aside class="sidebar" [ngClass]="{'active': isMenuOpen}">
    <nav>
      <ul>
        <li><a routerLink="pacientes" routerLinkActive="active">Pacientes</a></li>
        <li><a routerLink="medicos" routerLinkActive="active">Médicos</a></li>
        <li><a routerLink="Admin" routerLinkActive="active">Administradores</a></li>
        <li><a routerLink="agenda" routerLinkActive="active">Agenda</a></li>
        <li><a routerLink="citas" routerLinkActive="active">Solicitudes de Citas</a></li>
        <li><a (click)="logout()" style="cursor: pointer; color: red;">Cerrar sesión</a></li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
